<!DOCTYPE html>
<html lang="en">
<head>{{> head}}</head>
<body class="animsition">
<div class="page-wrapper">
    <header >{{> header}} %></header>

    {{> left_sidebar}}

    <div class="page-container">
        {{> header_menu}}


        <div class="main-content">

        </div>

    </div>
</div>
<footer> {{> footer}}</footer>

</body>
</html>