<%include template/header.ejs%>
<%include template/nav.ejs%>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">LogDelivery</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-auto ml-sm-auto col-lg-12 px-4">
                <div class="container">
                    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="http://www.daf.es/~/media/images/daf%20trucks/news-and-media/news/2017/q4/itoy/02.%20international%20truck%20of%20the%20year%202018%20-%20daf%20new%20xf%20new%20cf.jpg">
                            <div class="card-body">
                                Bienvenidos a LogDelivery
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%include template/footer.ejs%>